<div>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex flex-col">
        <div class="flex flex-col md:flex-row items-center w-full">
            <div class="flex flex-col">
                <label class="text-4xl mr-2">{{product.price | currency:'EUR':true}}</label>
                <label class="text-xs text-gray-400">{{"PRODUCT_PAGE.BUY_SECTION.TAXES" | translate}}</label>
            </div>
            <button type="submit" class="ml-2 hidden md:block">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x text-yellow-300 hover:text-yellow-500"></i>
                    <i class="fa-solid fa-cart-shopping fa-stack-1x"></i>
                </span>
            </button>
        </div>
        <div class="py-2 w-full">
            <label>{{"PRODUCT_PAGE.BUY_SECTION.AMOUNT" | translate}}:</label>
            <div>
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="py-4 md:py-0 px-2 border w-2/12 md:w-auto bg-yellow-300 hover:bg-yellow-500 border-gray-300 rounded-s-lg quantity-add"><i class="fa-solid fa-minus"></i></button>
                <input formControlName="amount" id="product-amount" class="py-4 md:py-0 appearance-none w-8/12 md:w-1/4 text-center border border-gray-300" type="number" required [value]="productAmount" min="1" max="10">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" id="subs-one" class="py-4 md:py-0 px-2 border w-2/12 md:w-auto bg-yellow-300 hover:bg-yellow-500 border-gray-300 rounded-e-lg quantity-remove"><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        <div>
            <button type="submit" class="rounded py-4 md:py-0 md:ml-2 w-full bg-yellow-300 block md:hidden">
                <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </form>
</div>
<div class="flex flex-col">
    <label class="text-xl py-2">{{"PRODUCT_PAGE.BUY_SECTION.AVAILABILITY" | translate}}: <i class="fa-solid fa-check text-lime-600"></i></label>
    <!-- <label>{{product.category.name}}</label> -->
    <label class="text-xl py-2">
        <span class="fa-stack fa-1x">
            <i class="fas fa-circle fa-stack-2x text-yellow-300"></i>
            <i class="fa-solid fa-money-bill fa-stack-1x"></i> 
        </span>
        {{"PRODUCT_PAGE.BUY_SECTION.PAYMENT_ADVICE" | translate}}
    </label>
    <label class="text-xl py-2">
        <span class="fa-stack fa-1x">
            <i class="fas fa-circle fa-stack-2x text-yellow-300"></i>
            <i class="fa-solid fa-truck-fast fa-stack-1x"></i> 
        </span>
        {{"PRODUCT_PAGE.BUY_SECTION.SHIPMENT_ADVICE" | translate}}
    </label>
    <label class="text-xl py-2">
        <span class="fa-stack fa-1x">
            <i class="fas fa-circle fa-stack-2x text-yellow-300"></i>
            <i class="fa-solid fa-clock fa-stack-1x"></i> 
        </span>
        {{"PRODUCT_PAGE.BUY_SECTION.GUARANTY_ADVICE" | translate}}
    </label>
</div>