<main class="grid grid-rows-2 md:grid-rows-1 grid-flow-col gap-4 p-3 border-t-2 border-slate-200 bg-slate-800 text-slate-200">
    <div class="flex flex-col items-center">
        <label class="underline underline-offset-4">Sobre mí:</label>
        <label>¿Quien soy?</label>
        <label>LinkedIn</label>
        <label>Github</label>
    </div>
    <div class="flex flex-col items-center">
        <label class="underline underline-offset-4">Sobre el proyecto:</label>
        <label>Base del proyecto</label>
        <label>Descripción del proyecto</label>
        <label>Status</label>
    </div>
</main>