<button id="dropdown-button" class="h-full flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 
bg-gray-100 border border-gray-300 rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 
dark:focus:ring-gray-700 dark:text-white dark:border-gray-600" type="button">
    {{selectedOption === '' ? 'All categories' : selectedOption}}
    <i class="fa-solid fa-chevron-down"></i></button>
<div id="dropdown-list" class="absolute top-14 z-10 block opacity-0 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
        <li>
            <button type="button" (click)="setOption('')" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All categories</button>
        </li>
        <li *ngFor="let category of categories">
            <button (click)="setOption(category.name)" type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{category.name}}</button>
        </li>
    </ul>
</div>