<main class="min-h-screen flex flex-col items-center">
    <div class="border-2 rounded border-solid border-slate-300 w-3/4 mt-8 flex flex-col items-center py-4">
        <div class="flex justify-center w-full bg-gradient-to-t from-yellow-300 to-white to-50% from-50% pb-4">
            <div class="relative">
                <img class="rounded-full" [src]="user.avatar">
                <button type="submit" class="ml-2 hidden md:block text-yellow-300 hover:text-yellow-500 absolute top-48 left-44">
                    <span class="fa-stack fa-2x">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-camera fa-stack-1x text-black"></i>
                    </span>
                </button>
            </div>
        </div>
        <div class="w-4/5">
            <form [formGroup]="userForm" (ngSubmit)="userModify()">
                <div class="flex flex-col my-3">
                    <label class="text-xl">Email</label>
                    <input class="text-xl border-2 rounded border-solid border-slate-300 p-2" formControlName="email" type="email">
                </div>
                <app-password-group *ngIf="user.role" [userPassword]="user.password!"></app-password-group>
                <div class="flex flex-col my-3">
                    <label class="text-xl">Name</label>
                    <input class="text-xl border-2 rounded border-solid border-slate-300 p-2" formControlName="username">
                </div>
                <div class="flex flex-row justify-around">
                    <button [disabled]="!userForm.dirty" (click)="resetProfile()" type="button" class="py-2 px-8 w-32 disabled:bg-yellow-200 border-yellow-200 bg-yellow-300 border-2 rounded">Reset</button>
                    <button [disabled]="!userForm.valid || !userForm.dirty"  type="submit" class="py-2 px-8 w-32 disabled:bg-yellow-200 border-yellow-200 bg-yellow-300 border-2 rounded">Update</button>
                </div>
            </form>
        </div>
    </div>
</main>