@tailwind base;
@tailwind components;
@tailwind utilities;

#dropdown-button:focus ~ #dropdown-list,
#dropdown-button ~ #dropdown-list:focus-within{
    @apply opacity-100;
    @apply z-10;
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
      }
      
}